.Graf1 {
  position: absolute;
  top: 136vh;
  height: 26vh;
  width: 500px;
  padding-left: 30px;
}

.G11{
  position: absolute;
  padding-top: 50px;
  font-size: 25px;
}

.G12{
  padding-top: 78px;
  position: absolute;
  padding-left: 150px;
  height: 20px;

}

.G13 {
  padding-top: 50px;
  padding-left: 180px;
  position: absolute;
  font-size: 23px;
}

.G14{
  position: absolute;
  padding-top: 120px;
  font-size: 30px;
}

.G15 {
  padding-top: 120px;
}

.G123 {
  bottom: 84px;
  position: absolute;
  padding-left: 400px;
}
