.G32 {
  position: absolute;
  top: 20px;
  padding-left: 153px;

}

.G33 {
  position: absolute;
  padding-left: 165px;

}

.G34 {
  position: absolute;
  top: 15px;
  padding-left: 40px;
  font-size: 30px;
}

.G35 {
  position: absolute;
  top: 10px;
  padding-left: 280px;

}

.G39 {
  position: absolute;
  top: 115px;
  padding-left: 360px;

}

.G314 {
  position: absolute;
  top: 194px;
  padding-left: 360px;

}

.G36 {
  position: absolute;
  top: 100px;
  padding-left: 40px;

}

.G310 {
  position: absolute;
  top: 111px;
  padding-left: 370px;
  font-size: 10px;
  color: green;
}

.G313 {
  position: absolute;
  top: 160px;
  padding-left: 40px;

}

.G315 {
  position: absolute;
  top: 192px;
  font-size: 10px;
  padding-left: 370px;
  color: blue;
}

.Graf3 {
  position: absolute;
  top: 157vh;
  height: 23vh;
  left: 1080px;
  width: 350px;
}

.G38 {
  position: absolute;
  top: 80px;
  padding-left: 40px;

}
