<div class="Graf3">
  <p class="G31" style="position: absolute; padding-left: 40px"><b>Task Complete</b></p>
  <img src="assets/img/variant-26-107.png" class="G32">
  <p class="G33">0.7%</p>
  <p class="G34"><b>123</b></p>
  <a href="#" class="G35">
    <img src="assets/img/variant-26-110.png">
  </a>
  <div class="G36">
    <canvas id="Graf03"></canvas>
  </div>
  <p class="G38">Today</p>
  <p class="G313">Yesterday</p>
  <img src="assets/img/variant-26-114.png" class="G39">
  <img src="assets/img/variant-26-119.png" class="G314">
  <p class="G310">67%</p>
  <p class="G315">79%</p>
</div>
