<img src="assets/img/variant-26-232.png" style="width: 100%;   opacity: 0.8;position: relative">
<a href="#" class="P1" style="object-fit: contain;">
  <img src="assets/img/variant-26-235.png" class="P1" style="object-fit: contain;">
</a>
<div >
<p class="P2"><b>Septiandika Pratama</b></p>
<p class="P2">Graphic Designer</p>
<p class="P2">Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit, sed do eiusmod tempor<br>incididunt ut labore</p>
</div>
  <div style="display: flex">
<p class="P5">203<br>Following</p>
<p class="P5">437<br>Likes</p>
<p class="P5">132<br>Photo</p>
</div>
