.P1{
  position: absolute;
  object-fit: contain;
  border-radius: 50%;
  left:150px;
  padding-top:40px;
}
.P2 {
  margin-top: 20px;
  padding-left: 30px;
 text-align: center;
  font-size: 18px;
}

.P5 {
  padding-top: 45px;
  margin-right: 50px;
  padding-left: 35px;
  font-size: 20px;
}
