.S41{

  padding-left: 30px;
  padding-top: 30px;
  margin-top: 30px;
}

.S43 {
  margin-top: 80px;
  canvas {
    max-height: 100%!important;
  }
  margin-left: -50px;
  height: 350px;
  width: 200px;
}
