.DT1 {
  position: absolute;
  padding-top: 435px;
  right: 270px;
}

.DT11 {
  position: absolute;
  padding-top: 441px;
  right: 277px;
}

.DT3 {
  position: absolute;
  padding-top: 405px;
  right: 355px;
}

.DT4 {
  position: absolute;
  padding-top: 338px;
  right: 333px;
}

.DT44 {
  position: absolute;
  padding-top: 344px;
  right: 340px;
}

.DT7 {
  position: absolute;
  padding-top: 265px;
  right: 445px;
}

.DT77 {
  position: absolute;
  padding-top: 271px;
  right: 452px;
}

.DT10 {
  position: absolute;
  padding-top: 240px;
  right: 490px;
}

.DT101 {
  position: absolute;
  padding-top: 246px;
  right: 497px;
}

.DT8 {
  position: absolute;
  padding-top: 315px;
  right: 475px;
}

.DT88 {
  position: absolute;
  padding-top: 321px;
  right: 482px;
}

.DT9 {
  position: absolute;
  padding-top: 65px;
  right: 485px;
}

.DT99 {
  position: absolute;
  padding-top: 71px;
  right: 492px;
}

.DT5 {
  position: absolute;
  padding-top: 405px;
  right: 400px;
}

.DT55 {
  position: absolute;
  padding-top: 411px;
  right: 407px;
}

.DT03 {
  position: absolute;
  padding-top: 290px;
  right: 750px;
}

.DT013 {
  position: absolute;
  padding-top: 296px;
  right: 757px;
}

.DT05 {
  position: absolute;
  padding-top: 260px;
  right: 800px;
}

.DT015 {
  position: absolute;
  padding-top: 266px;
  right: 807px;
}

.DT06 {
  position: absolute;
  padding-top: 250px;
  right: 800px;
}

.DT016 {
  position: absolute;
  padding-top: 256px;
  right: 807px;
}

.DT07 {
  position: absolute;
  padding-top: 250px;
  right: 823px;
}

.DT017 {
  position: absolute;
  padding-top: 256px;
  right: 830px;
}

.DT08 {
  position: absolute;
  padding-top: 243px;
  right: 812px;
}

.DT018 {
  position: absolute;
  padding-top: 249px;
  right: 819px;
}

.DT09 {
  position: absolute;
  padding-top: 70px;
  right: 853px;
}

.DT019 {
  position: absolute;
  padding-top: 76px;
  right: 860px;
}

.DT025 {
  position: absolute;
  padding-top: 30px;
  right: 836px;
}

.DT0125 {
  position: absolute;
  padding-top: 38px;
  right: 849px;
}

.DT020 {
  position: absolute;
  padding-top: 130px;
  left: 333px;
}

.DT0120 {
  position: absolute;
  padding-top: 136px;
  left: 340px;
}

.DT022 {
  position: absolute;
  padding-top: 343px;
  left: 407px;
}

.DT0122 {
  position: absolute;
  padding-top: 349px;
  left: 414px;
}

.DT023 {
  position: absolute;
  padding-top: 343px;
  left: 425px;
}

.DT0123 {
  position: absolute;
  padding-top: 349px;
  left: 432px;
}

.DT024 {
  position: absolute;
  padding-top: 314px;
  left: 398px;
}

.DT0124 {
  position: absolute;
  padding-top: 321px;
  left: 404px;
}

.DT021 {
  position: absolute;
  padding-top: 182px;
  left: 265px;
}

.DT0121 {
  position: absolute;
  padding-top: 188px;
  left: 272px;
}

.DT04 {
  position: absolute;
  padding-top: 315px;
  right: 740px;
}

.DT014 {
  position: absolute;
  padding-top: 321px;
  right: 747px;
}

.DT02 {
  position: absolute;
  padding-top: 190px;
  right: 635px;
}

.DT012 {
  position: absolute;
  padding-top: 196px;
  right: 642px;
}

.DT01 {
  position: absolute;
  padding-top: 140px;
  right: 580px;
}

.DT011 {
  position: absolute;
  padding-top: 146px;
  right: 587px;
}

.DT6 {
  position: absolute;
  padding-top: 145px;
  right: 400px;
}

.DT66 {
  position: absolute;
  padding-top: 151px;
  right: 407px;
}

.DT33 {
  position: absolute;
  padding-top: 411px;
  right: 362px;
}

.DT2 {
  position: absolute;
  padding-top: 420px;
  right: 340px;
}

.DT22 {
  position: absolute;
  padding-top: 426px;
  right: 347px;
}

.Map {

  position: relative;
  align-items: center;
  height: 0px;
  bottom: 2750px;
  padding-left: 90px;

}

.MapSize {
  position: relative;
  padding-left: 25px;
}

.Mapplus {
  position: absolute;
  left: 36px;
  padding-top: 13px;
}

.Mapmin {
  position: absolute;
  left: 36px;
  padding-top: 58px;
}

.MapImg {
  padding-left: 120px;

}

.Mapline {
  position: absolute;
  left: 24px;
  padding-top: 38px;
}
