<div class="Map">
  <div class="MapSize">
    <img src="assets/img/variant-26-55.png" >
    <img src="assets/img/variant-26-56.png" class="Mapline">
    <a href="#">
      <img src="assets/img/variant-26-57.png" class="Mapmin">
    </a>
    <a href="#">
      <img src="assets/img/variant-26-58.png" class="Mapplus">
    </a>
  </div>
  <div class="MapImg">
    <img src="assets/img/variant-26-6.png" style="height: 600px; width: 160vh">
    <img src="assets/img/variant-26-40.png" class="DT1">
    <img src="assets/img/variant-26-41.png" class="DT11">
    <img src="assets/img/variant-26-40.png" class="DT2">
    <img src="assets/img/variant-26-41.png" class="DT22">
    <img src="assets/img/variant-26-40.png" class="DT3">
    <img src="assets/img/variant-26-41.png" class="DT33">
    <img src="assets/img/variant-26-40.png" class="DT4">
    <img src="assets/img/variant-26-41.png" class="DT44">
    <img src="assets/img/variant-26-40.png" class="DT5">
    <img src="assets/img/variant-26-41.png" class="DT55">
    <img src="assets/img/variant-26-40.png" class="DT6">
    <img src="assets/img/variant-26-41.png" class="DT66">
    <img src="assets/img/variant-26-40.png" class="DT7">
    <img src="assets/img/variant-26-41.png" class="DT77">
    <img src="assets/img/variant-26-40.png" class="DT8">
    <img src="assets/img/variant-26-41.png" class="DT88">
    <img src="assets/img/variant-26-40.png" class="DT9">
    <img src="assets/img/variant-26-41.png" class="DT99">
    <img src="assets/img/variant-26-40.png" class="DT10">
    <img src="assets/img/variant-26-41.png" class="DT101">
    <img src="assets/img/variant-26-40.png" class="DT01">
    <img src="assets/img/variant-26-41.png" class="DT011">
    <img src="assets/img/variant-26-40.png" class="DT02">
    <img src="assets/img/variant-26-41.png" class="DT012">
    <img src="assets/img/variant-26-40.png" class="DT03">
    <img src="assets/img/variant-26-41.png" class="DT013">
    <img src="assets/img/variant-26-40.png" class="DT04">
    <img src="assets/img/variant-26-41.png" class="DT014">
    <img src="assets/img/variant-26-40.png" class="DT05">
    <img src="assets/img/variant-26-41.png" class="DT015">
    <img src="assets/img/variant-26-40.png" class="DT06">
    <img src="assets/img/variant-26-41.png" class="DT016">
    <img src="assets/img/variant-26-40.png" class="DT07">
    <img src="assets/img/variant-26-41.png" class="DT017">
    <img src="assets/img/variant-26-40.png" class="DT08">
    <img src="assets/img/variant-26-41.png" class="DT018">
    <img src="assets/img/variant-26-40.png" class="DT09">
    <img src="assets/img/variant-26-41.png" class="DT019">
    <img src="assets/img/variant-26-40.png" class="DT020">
    <img src="assets/img/variant-26-41.png" class="DT0120">
    <img src="assets/img/variant-26-40.png" class="DT021">
    <img src="assets/img/variant-26-41.png" class="DT0121">
    <img src="assets/img/variant-26-40.png" class="DT022">
    <img src="assets/img/variant-26-41.png" class="DT0122">
    <img src="assets/img/variant-26-40.png" class="DT023">
    <img src="assets/img/variant-26-41.png" class="DT0123">
    <img src="assets/img/variant-26-40.png" class="DT024">
    <img src="assets/img/variant-26-41.png" class="DT0124">
    <img src="assets/img/variant-26-59.png" class="DT025">
    <img src="assets/img/variant-26-60.png" class="DT0125">

  </div>
</div>
