<div class="StrafickDown">
  <div class="StrafInfo">
  <p class="Strafick013"><b style="font-size: 40px; padding-left: 10px">45.34M</b></p>
    <div class="StrafInfo001">
  <p class="Strafick0001" style="  text-wrap: nowrap;">Overall Visitor</p>
  <img src="assets/img/variant-26-127.png" class="Strafick0001" style="height: 20px; padding-top: 15px">
      <p class="Strafick0001">5.23%</p>
    </div>
  </div>
  <div class="StrafInfo">
  <p class="Strafick02"><b style="font-size: 40px ; padding-left: 10px">34:23</b></p>
    <div class="StrafInfo001">
  <p class="Strafick0001" style="  text-wrap: nowrap;">Avg. Visitor Duratio</p>
  <img src="assets/img/variant-26-131.png" class="Strafick0001" style="height: 20px; padding-top: 15px">
      <p class="Strafick0001">2.37%</p>
    </div>
  </div>
    <div class="StrafInfo">

  <p class="Strafick03"><b style="font-size: 40px">223.293</b></p>
      <div class="StrafInfo001">
  <p class="Strafick0001" style="  text-wrap: nowrap;">Page Visit</p>
  <img src="assets/img/variant-26-135.png" class="Strafick0001" style="height: 20px; padding-top: 15px">
  <p class="Strafick0001">8.3%</p>
      </div>
    </div>
</div>
