.StrafickDown{
  display: flex;
  padding-top: 670px;
  padding-left: 80px;
}

.StrafInfo{
  display: flow;
  padding-right: 170px;
}

.StrafInfo0001{

  margin-left: 100px;
}

.StrafInfo001 {
  display: flex;
}


