.G22 {
  position: absolute;
  top: 20px;
  padding-left: 140px;
}

.G23 {
  position: absolute;

  padding-left: 155px;
}

.G24 {
  position: absolute;
  padding-left: 30px;
  top: 15px;
  font-size: 30px;
}

.G25 {
  position: absolute;
  top: 50px;
  width: 400px;

}

.G222 {
  position: absolute;
  top: 20px;
  padding-left: 360px;
}

.Graf2 {
  position: absolute;
  height: 26vh;
  left: 650px;
  top: 145vh;
  width: 500px;
}
