<div class="Graf2">
  <p class="G21" style="position: absolute; padding-left: 30px"><b>Total Revenue</b></p>
  <img src="assets/img/variant-26-85.png" class="G22">
  <p class="G23">1.4%</p>
  <p class="G24"><b>$25.534</b></p>
  <div class="G25">
    <canvas  baseChart
             [type]="'line'"
             [data]="ChartData"
             [options]="lineChartOptions"
             [labels]="ChartLabel"
    ></canvas>
  </div>

  <a href="#" class="G222">
    <img src="assets/img/variant-26-105.png">
  </a>

</div>
