<app-sidebar></app-sidebar>
<app-uppage></app-uppage>

  <div class="DashB">
    <p class="DashBOR" ><b>Dashboard</b></p>
    <p class="DashBD" >Welcome to Admin Sayang, Responsive Web Admin Template</p>
  </div>
 <app-map></app-map>
<app-graf-a></app-graf-a>
<app-grafb></app-grafb>
<app-grafc></app-grafc>
<div class="StrafickUp">
  <img src="assets/img/variant-26-160.png" class="Strafickline">
  <p class="Straficktext">Site Traffic</p>
  <a href="#" class="StraficB1">
    <img src="assets/img/variant-26-162.png">
  </a>
  <a href="#" class="StraficB2">
    <img src="assets/img/variant-26-163.png">
  </a>
  <a href="#" class="StraficB3">
    <img src="assets/img/variant-26-164.png">
  </a>
</div>
<app-strafick-graf></app-strafick-graf>
