/* Application-wide Styles */
app-uppage{

  width: calc(100% - 80px);
  top: 0;
  left: 73px;

}


app-strafick-graf {
  display: flex;
  height: 80vh;
  width: 1400px;
  padding-left: 10px;
  margin-top: 120px;
}

.DashBOR {

  display: flow;
  padding-left: 60px;
  padding-top: 20px;
  font-size: 25px;
}

.DashB {

 padding-top:90px;
  opacity: 0.7;
}

.DashBD {

  display: flow;
  margin-top: 20px;
  padding-left: 60px;


}


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
.Side{
  width: calc(100% - 80px);
  top: 0;
  padding-left: 70px;

}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
.StrafickUp{
 padding-top: 1170px;
}

.Strafickline {
  position: absolute;
  padding-top: 50px;
  width: 1400px;
  padding-left: 10px;
}

.StraficB1 {

  padding-top: 23px;
  margin-right: 40px;
}

app-google-graf{

    position: absolute;
    width: 500px;
    height: 90vh;
    margin-left: 930px;
    top: 1640px;

}


.Straficktext {
  position: absolute;
  padding-top: 10px;
  padding-left: 30px;
}

.SideMain {

  width: calc(100% - 80px);
  top: 0;
  left: 70px;
  float: right;

}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.PageDown {
  background-color: #5656ec0f;
  margin-top: 50px;
  height: 104vh;
  width: 100%;

}

app-sel-a{
  display: flow;
  background-color: white;
  margin-left: 40px;
  height: 150px;
  width: 250px;
  padding-top: 40px;
  padding-left: 100px;
}

app-sel-b {
  display: flex;
  background-color: white;
  margin-left: 450px;
  max-width: 300px;
  max-height: 1000px;
  margin-top: -170px;

}

app-sel-c {
  display: flow;
  background-color: white;
  margin-left: 800px;
  max-width: 250px;
  max-height: 150px;
  margin-top: -440px;
}

app-sel-d {
  display: flex;
  background-color: white;
  margin-left: 1100px;
  max-width: 300px;
  max-height: 1000px;
  margin-top: -170px;

}

app-sel-e{
  display: flow;
  background-color: white;
  margin-left: 40px;
  height: 150px;
  width: 250px;
  padding-top: 40px;
  padding-left: 100px;
  margin-top:-200px;
}

app-sel-f {
  display: flow;
  background-color: white;
  margin-left: 800px;
  max-width: 250px;
  max-height: 150px;
  margin-top: -200px;
}
