
.IconP {
  position: relative;
  padding-top: 160px;
  padding-left: 15px;
}

.sidebar {
  background-color: #333333;
  min-height: 422vh;
  width: 80px;
}

.IconPonl {
  position: absolute;
  padding-left: 39px;
  padding-top: 2px;
}

.HeaderMenu {
  position: absolute;
  align-items: center;
  display: flex;
  top: 25px;
  width: 20px;
  padding-left: 10px;
}

.Profes1 {
  padding-left: 20px;
}

.MenuS {
  height: 45px;
  width: 80px;
  background-color: black;
  margin-top: 60px;

}

.Main {
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

.Main1 {

  padding-left: 8px;
  padding-top: 40px;
}

.Comp {
  align-items: center;

  padding-top: 40px;
  padding-left: 20px;
}

.Comp1 {
  position: relative;
  padding-top: 40px;
  padding-left: 8px;
}

.Comp121 {
  margin-bottom: 20px;
}

.Comp11 {

  position: absolute;
}

.Comp12 {
  padding-left: 5px;
  padding-top: 5px;
  position: absolute;
}

.Comp13 {
  padding-top: 8px;
  padding-left: 8px;
  position: absolute;

}

.Data1 {
  padding-top: 40px;
  padding-left: 10px;
}

.Pages1 {
  padding-top: 40px;
  padding-left: 10px;
}

.Data {
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
}

.Pages {
  align-items: center;
  display: flow;
  padding-top: 40px;
  padding-left: 20px;
}

