<div class="StrafickGoogle">
  <div class="StrafickG">
    <canvas id="StrafickG01"></canvas>
  </div>
  <p class="StraGG1"><b>Chrome</b></p>
  <p class="StraGG12">56%</p>
  <div class="Straftext01">
  <p class="StraGG01"><b>#</b></p>
  <p class="StraGG01"><b>Browser</b></p>
  <p class="StraGG01"><b>Sessions</b></p>
  <p class="StraGG01"><b>Up/Down</b></p>
  </div>
  <hr>
  <div class="Straftext02">
  <p class="StraGG02">1</p>
  <p class="StraGG02">Chrome</p>
  <p class="StraGG02">43245</p>
  <p class="StraGG02" style="color: green">+34,3%</p>
  </div>
  <hr >
  <div class="Straftext03">
  <p class="StraGG03">2</p>
  <p class="StraGG03">Firefox</p>
  <p class="StraGG03">33452</p>
  <p class="StraGG03"style="color: red">-23,06%</p>
</div>
  <hr>
<div class="Straftext04">
  <p class="StraGG04">3</p>
  <p class="StraGG04">Safari</p>
  <p class="StraGG04">22234</p>
  <p class="StraGG04"style="color: green">+15,3%</p>
</div>
</div>
