

.StrafickG {


    canvas {
      max-height: 100%!important;
    }
    padding-right: 60px;

    height: 300px;


}
.StraGG1 {
  position: absolute;
  font-size: 20px;
  top: 120px;
  padding-left: 185px;
}
.StraGG12 {
  position: absolute;
  font-size: 20px;
  top: 150px;
  padding-left: 200px;
}
.Straftext01 {

  font-size: 20px;
  display: flex;

}
.StraGG01 {

  font-size: 20px;

  padding-left: 40px;
}
.Straftext04 {

  font-size: 20px;
  display: flex;

}
.StraGG04 {

  font-size: 20px;

  padding-left: 40px;
}

.Straftext03 {

  font-size: 20px;
  display: flex;

}
.StraGG03 {

  font-size: 20px;

  padding-left: 40px;
}

.Straftext02 {

   font-size: 20px;
   display: flex;

 }
.StraGG02 {

  font-size: 20px;

  padding-left: 40px;
}
