#Butm {
  position: absolute;
  height: 40px;
  color: white;
  width: 80px;
  background: blue;
  left: 20px;
  border-radius: 20%;
}
#Buty {
  position: absolute;
  left: 100px;
  height: 40px;
  color: white;
  width: 80px;
  background: #5656ec;
  border-radius: 20%;
}
.StrafickGraf {
  // oveflow: hidden;

  canvas {
    max-height: 100%!important;
  }

  width: 900px;
  height: 100vh;
}
