
  <div class="HeaderPage">
    <div class="HeaderMenu">
      <a href="#">
        <img src="assets/img/variant-26-321.png">
      </a>
    </div>

    <div class="Search">
      <div class="Search121">
        <a href="#" class="Search1" >
          <img src="assets/img/variant-26-326.png" >
        </a>
        <p class="Search2" style="opacity: 0.5">Search Something...</p>

        <a href="#" class="Search3">
          <img src="assets/img/variant-26-327.png"  >

        </a>
      </div>
    </div>
    <div class="HeadI">
      <div class="HeadI1">
        <a href="#">
          <img src="assets/img/variant-26-332.png"  >
        </a>
      </div>
      <div class="HeadI2">
        <a href="#" class="HeadI21">
          <img src="assets/img/variant-26-336.png"  >
        </a>
        <img src="assets/img/variant-26-337.png"  class="HeadI22">
        <p class="HeadI23">5</p>
      </div>
      <div class="HeadI3">
        <a href="#"class="HeadI31">
          <img src="assets/img/variant-26-329.png"  >
        </a>
        <img src="assets/img/variant-26-330.png" class="HeadI32" >
        <p  class="HeadI33">5</p>
      </div>
      <div class="HeadI4">
        <a href="#" class="HeadI41">
          <img src="assets/img/variant-26-333.png"  >
        </a>
        <img src="assets/img/variant-26-334.png" class="HeadI42" >
        <img src="assets/img/variant-26-335.png" class="HeadI43" >
      </div>
      <div class="HeadI5">
        <a href="#" >
          <img src="assets/img/variant-26-339.png"  >
        </a>
      </div>
    </div>


  </div>
