.MIM {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%
}

.M4 {
  font-size: 12px;
  padding-left: 330px;
  position: absolute;
  margin-top: -8px;
  text-wrap: nowrap;
}

.M00 {
  font-size: 30px;
}

.OnL{
  position: absolute;
  height: 15px;
  margin-left: 40px;
}
