.TD6 {
  padding-left: 30px;
  margin-top: 30px;
}

.TD0 {
  margin-top: 45px;
  padding-left: 20px;
}

.TD12 {
  position: absolute;
  padding-left: 35px;
  margin-top: -360px;
}

.TD13 {
  position: absolute;
  padding-left: 35px;
  margin-top: -225px;
}

.TD11 {
  padding-left: 40px;
  margin-top: 40px;
}

.TD5{
  position: absolute;
  padding-left: 290px;
  margin-top: -345px;
  font-size: 12px;
}

.TD3 {
  position: absolute;
  padding-left: 290px;
  margin-top: -147px;
  font-size: 12px;
}
