<p class="TD" style="font-size: 30px"><b>To Do List</b></p>
<div style="display: flex">
  <div style="display: grid">

<img src="assets/img/variant-26-243.png" class="TD6">

  <img src="assets/img/variant-26-244.png" class="TD6">

  <img src="assets/img/variant-26-245.png" class="TD6">

  <img src="assets/img/variant-26-246.png" class="TD6">

  <img src="assets/img/variant-26-247.png" class="TD6">

  <img src="assets/img/variant-26-248.png" class="TD6">
  </div>
<div style="display: flow">
<p class="TD0">Schedule Meeting</p>
<p class="TD0">Call clients for follow-up</p>
<p class="TD0">Book flight for holiday</p>
<p class="TD0">Forward important tasks</p>
<p class="TD0">Recieve shipment</p>
<p class="TD0">Important tasks</p>
</div>
  <div style="display: grid">
<img src="assets/img/variant-26-239.png" class="TD11">

<img src="assets/img/variant-26-241.png" class="TD11">

  </div>
</div>
<img src="assets/img/variant-26-249.png" class="TD12">
<img src="assets/img/variant-26-250.png" class="TD13">
<p class="TD5">2 weeks</p>
<p class="TD3">Today</p>
